<%= render 'shared/content_title', title: 'Profile: ' + @user.username %>

<div class="well">
    <div><b>Username: </b> <%= @user.username %></div>
    <div><b>Timezone: </b></div>
</div>

<b><%= @user.username %>'s Activity</b>

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Posts (<%= @user.posts.size %>)</a></li>
    <li><a href="#tab2" data-toggle="tab">Comments (<%= @user.comments.size %>)</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <% @user.posts.each do |post| %>
        <%= render '/posts/post', post: post %>
      <% end %>
    </div>
    <div class="tab-pane" id="tab2">
      <% @user.comments.each do |comment| %>
        <%= render '/comments/comment', comment: comment %>
      <% end %>
    </div>
  </div>
</div>
