<div class='row-fluid'>
  <div class='span2 well text-center'>

    <% if logged_in?  %>
      <%= link_to vote_post_comment_path(comment.post, comment, vote: true), method: 'post' do %>
      	<i class='icon-arrow-up'></i><br>
      <% end %>
    <% end %>

    <%= comment.total_votes %>
    <% if comment.total_votes == 1 || comment.total_votes == -1 %>
      vote
    <% else %>
      votes
    <% end %>
    <br>

    <% if logged_in?  %>
    	<%= link_to vote_post_comment_path(comment.post, comment, vote: false), method: 'post' do %>
    	  <i class='icon-arrow-down'></i>
    	<% end %>
    <% end %>
  </div>

  <div class='well span10'>
    <p>
      "<i><%= comment.body %></i>"
        <% if @user %>
        on <%= link_to comment.post.title, post_path(comment.post) %>
        <% end %>
    </p>
    <p>
      by <%= link_to comment.creator.username, user_path(comment.creator) %> at <small><%= comment.created_at %></small>
    </p>
  </div>
</div>
